<footer>
    <div class="footer">
        <div class="main">
            <div class="footer-link">
                <a href="#">安全保障</a><a href="#">帮助中心</a><a href="#">关于我们</a>
                <span class="tip">投资有风险 入市需谨慎</span>
            </div>
            <div class="footer-main f-clear">
                <div class="footer-fl">
                    <img src="/images/logo.png" alt="小豹"/>
                    <p>工作时间 周一至周五 09:00-17:00</p>
                </div>
                <div class="footer-mid">
                    <p class="phone">服务电话：<span class="c-red">400-8533-775</span></p>
                    <p class="address">南宁地址：广西省南宁市青秀万达西3座2601</p>
                    <p class="address">广东地址：广东声东莞市鸿福路102号</p>
                    <p>Powered by 小豹集团版权所有 X3©2013-2017</p>
                    <p>桂ICP备16007106号-1</p>
                </div>
                <div class="footer-fr">
                    <img src="/images/ewm.jpg" alt="小豹二维码"/>
                    <p>官方微信</p>
                </div>
            </div>
        </div>
    </div>
</footer>